.questionnaire, .questionnaire__body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.questionnaire__body {
    padding: 0px 16px 0px 16px;
}

.questionnaire__header {
    padding: 16px;
}

.questionnaire__submit {
    padding: 8px;
}

.questionnaire {
    width: 400px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px #d3d3d3 1px 1px #d3d3d3 2px 2px #d3d3d3 1px 1px #d3d3d3;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
}