<div class="questionnaire">
    <div class='questionnaire__header'>
        <ng-content></ng-content>
    </div>
    <div class='questionnaire__body'>
        <ng-container *ngFor="let question of questions">
            <q-single *ngIf="question.type === 'single'" [question]="question">
                <p qText>{{ question.text }}</p>
                <p qError>{{ error.multi }}</p>
            </q-single>
            <q-multi *ngIf="question.type === 'multi'" [question]="question">
                <p qText>{{ question.text }}</p>
                <p qError>{{ error.multi }}</p>
            </q-multi>
        </ng-container>
    </div>
    <div class='questionnaire__submit'>
        <button igxButton (click)="submitResults()">Submit</button>
    </div>
</div>