/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

$primary: #731963 !default;
$secondary: #ce5712 !default;

$app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($app-palette);

html, body {
  height: 100%;
}
.content p {
  margin: 15px;
}

.validator__error > .error__icon, .validator__error > .error__text {
  color: #da4843;
  line-height: 24px;
}

.validator__error > .error__text {
  font-weight: 600;
}

.validator__error > .error__icon {
  width: 20%;
  margin: auto;
  text-align: center;
  font-weight: 400;
}

.single__text > .question__text, .multi__text > .question__text {
  font-weight: 600;
  font-size: 1rem;
}

.question__text, q-validator {
  width: 100%;
}
q-validator, q-multi, q-single {
  display: block;
  width: 100%;
}